@charset "UTF-8";

body {
  background-color: lightgray;
  text-align: center;
}
.wrap {
  width: 500px;
  margin: 50px auto;
  background-color: #6dc3a6;
  border-radius: 13px;
  box-shadow: 5px 5px 5px gray;
}
.header {
  height: 60px;
  line-height: 60px;
  font-size: 25px;
  font-weight: bold;
  background-color: lightskyblue;
  border-radius: 13px 13px 0 0;
}
.content {
  height: 550px;
  background-color: #eee;
}
.input {
  width: 470px;
  height: 40px;
  border: none;
  padding: 1px 15px;
  font-size: 18px;
}
.footer {
  height: 70px;
  background-color: lightskyblue;
  border-radius: 0 0 13px 13px;
}
.fa-plus-circle {
  font-size: 2.5em;
  line-height: 70px;
  cursor: pointer;
}
